@charset 'utf-8';
@import url(basic.css);
section .user-quantity{
	margin:20px 0 0 20px;
	color: #fff;
	display:none;
}
section .user-quantity h2{
	letter-spacing: 1px;
	margin-bottom: 5px;
}
section h2 em{
	color:red;
	font-size: 20px;
	letter-spacing: 1px;
	opacity: 0.9;
}
section .user-list{
	height:500px;
	overflow-y:auto;
}
table{
	margin: 20px 0 30px 40px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	text-align: center;
	color:#eee;

}
table th{
	color:#fff;
}
table th,table td{
	border-top:1px solid #eee;
	border-left:1px solid #eee;
}